html {
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #FFF;
    color: rgb( 32, 32, 32 );
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
}

svg {
    display: inline-block;
    vertical-align: middle;
}

h2,
p,
ul,
dl {
    margin: 0 0 24px;
}

h1 {
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 1.3334;
    margin: 0;
}

h2 {
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 1.6;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

/**
 * Component: Button;
 */
.c-btn {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    padding: 12px 48px;
    background: rgb( 0, 149, 135 );
    color: #FFF;
    transition: background-color .3s ease-out, color .3s ease-out;
}

/**
 * Component: List;
 */
.c-list.is-unstyled {
    list-style: none;
    padding: 0;
}

    /**
     * Component: List - Extensions;
     */
    .c-list--hor {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

        .c-list--hor .c-list__item {
            margin: 0 12px;
        }

        .c-list--hor .c-list__link {
            font-size: 22px;
            text-decoration: none;
            display: block;
            line-height: 48px;
        }

/**
 * Component: Project;
 */
.c-project {
    /*color: #FFF;*/
    padding: 3em 3em 0;
    text-align: center;
}
    .c-project__visual {
        text-align: center;
        margin-bottom: 24px;
    }

    .c-project__body {}

    /**
     * Component: Project - Extensions;
     */
    /*.c-project--popkey-desktop {
        background-image: -webkit-linear-gradient(355deg,rgb(43, 149, 232) 10%,rgb(46, 181, 232) 90%);
        background-image: linear-gradient(95deg,rgb(43, 149, 232) 10%,rgb(46, 181, 232) 90%);
    }*/

        /*.c-project--popkey-web .c-btn,
        .c-project--popkey-desktop .c-btn {
            color: #FFF;
            background: #F845B3;
        }*/

    /*.c-project--popkey-web {
        background-image: -webkit-linear-gradient(355deg,rgb(131, 139, 247) 10%,rgb(242, 116, 226) 90%);
        background-image: linear-gradient(95deg,rgb(131, 139, 247) 10%,rgb(242, 116, 226) 90%);
    }

    .c-project--wam {
        background-image: -webkit-linear-gradient(355deg,rgb(0, 0, 0) 10%,rgb(34,40,46) 90%);
        background-image: linear-gradient(95deg,rgb(0, 0, 0) 10%,rgb(34,40,46) 90%);
    }*/

        .c-project--wam a {
            color: #FFF;
            transition: color .3s ease-out;
        }
        .c-project--wam a:hover,
        .c-project--wam a:focus {
            color: #EC008C;
        }

        /*.c-project--wam .c-btn {
            color: #FFF;
            background: rgb(0,149,135);
        }*/

    /*.c-project--crated {
        background-color: #171E25;
    }*/

    .c-project:nth-child( odd ) {
        background: rgb(206,215,219);
    }

        /*.c-project--crated .c-btn {
            color: #FFF;
            background: #30BEDA;
        }*/

@media ( min-width: 750px ) {
    .o-media {
        display: flex;
    }
        .o-media__aside,
        .o-media__body {
            width: 50vw;
        }

        .o-media__body {
            align-self: center;
        }

    .o-media--rev {
        /*flex-direction: row-reverse;*/
    }

    .c-project__visual {
        margin-bottom: 0;
    }
}
