html {
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #FFF;
    color: rgb( 32, 32, 32 );
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    text-align: center;
}

svg {
    display: inline-block;
    vertical-align: middle;
}

p,
ul,
dl {
    margin: 0 0 24px;
}

h1 {
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 1.3334;
    margin: 0;
}

h2 {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1;
    margin: 0 0 1em;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

.c-masthead {
    padding: 1.5em 0;
}
    .c-masthead__tagline {
        display: block;
        font-size: 20px;
        opacity: 0.5;
    }

/**
 * Component: Button;
 */
.c-btn {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    background: rgb(1,135,208);
    color: #FFF;
    transition: background-color .3s ease-out, color .3s ease-out;
}

    .c-btn:hover,
    .c-btn:focus {
        background: rgb(2,168,243);
    }

/**
 * Component: List;
 */
.c-list.is-unstyled {
    list-style: none;
    padding: 0;
}

    /**
     * Component: List - Extensions;
     */
    .c-list--hor {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 0;
    }

        .c-list--hor .c-list__item {
            margin: 0 12px 24px;
        }

        .c-list--hor .c-list__link {
            font-size: 22px;
            text-decoration: none;
            display: block;
            line-height: 48px;
        }

/**
 * Component: Project;
 */
.c-project {
    margin-bottom: 6em;
}
    .c-project__position {
        opacity: 0.8;
    }

    .c-project__visual {
        display: block;
        margin: 0 0 1.5em;
        padding-top: 3em;
        color: #FFF;
        background-image: -webkit-linear-gradient(355deg,rgb(131,178,247) 10%,rgb(116,223,242) 90%);
        background-image: linear-gradient(95deg,rgb(131,178,247) 10%,rgb(116,223,242) 90%);
    }
