html {
    font: 1em/1.5 Georgia, 'Times New Roman', serif;
    background-color: #FFF;
    color: #202020;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    position: relative;
    margin: 0;
}

    body::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        border-left: 1px dashed rgb( 200, 200, 200 );
    }

/**
 * Basic text styles
 */
h1 {
    font-size: 30px;
    font: 300 1.875rem/1.3334 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    margin: 0;
}

h2 {
    font-size: 20px;
    font: 300 1.25rem/1.2 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    margin: 0 0 1em;
}

p {
    margin: 0 0 1.5em;
}

a {
    color: #2B5681;
    -webkit-transition: color .3s ease-out;
            transition: color .3s ease-out;
}

    a:hover,
    a:focus {
        color: #202020;
    }

img {
    max-width: 100%;
    vertical-align: bottom;
}

body {
    padding-left: 0.75em;
    padding-right: 0.75em;
}

/**
 * Layout: Page;
 */
.l-page {}

    .l-page__separator {
        position: relative;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        text-align: center;
        background-color: #FFF;
    }

    .l-page__masthead {
        margin-bottom: 3em;
    }

/**
 * Component: List;
 */
.c-list.is-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}

    /**
     * Component: List - Extensions;
     */
    .c-list--hor {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: inherit;
            -ms-flex-direction: inherit;
                flex-direction: inherit;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

        .c-list--hor .c-list__item {
            margin-left: 0.75em;
            margin-right: 0.75em;
            margin-bottom: 1.5em;
        }

/**
 * Component: Project;
 */
.c-project {
    position: relative;
    background: #FFF;
    text-align: center;
    margin-bottom: 3em;
}

    .c-project__body {
        margin-bottom: 1.5em;
    }

@media ( min-width: 60em ) {

    h1 {
        font-size: 36px;
        font-size: 2.25rem;
        line-height: 1.3334;
    }

    h2 {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 1;
    }

    /**
     * Layout: Page;
     */
    .l-page {}

        .l-page__separator {
            padding-top: 4.5em;
            padding-bottom: 4.5em;
        }

        .l-page__masthead {
            margin-bottom: 4.5em;
        }

    .c-list--hor.is-left\@lg {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .c-list--hor.is-left\@lg .c-list__item {
        margin-right: 1.5em;
        margin-left: 0;
    }

    /**
     * Component: Project;
     */
    .c-project {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 9em;
        text-align: left;
    }

        .c-project__aside {
            margin-left: 4.5em;
            text-align: center;
        }

        /**
         * Component: Project - Extensions;
         */
        .c-project--rev {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: reverse;
            -webkit-flex-direction: row-reverse;
                -ms-flex-direction: row-reverse;
                    flex-direction: row-reverse;
        }

            .c-project--rev .c-project__aside {
                margin-left: 0;
                margin-right: 4.5em;
            }
}
